.flag {
    width: 30px;
    height: 30px;
}

.formDate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    input {
        margin: 0 4px 0 0;
    }
}

.listYear {
    padding: 0;
    margin: 0;
    display: flex;
    a {
        margin-right: 8px;
        color: #000;
    }
}

.season {
    text-align: center;
    h1 {
        font-size: 24px;
        margin: 0 0 16px 0;
    }
    h2 {
        font-size: 18px;
        margin: 0 0 16px 0;
    }
}

.seasonDates {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        margin-right: 14px;
        font-weight: bold;
    }
}

.teamtitle {
    display: block;
    margin-bottom: 24px;
    color: #000;
    &:hover {
        text-decoration: none;
    }
}

.form {
  width: 100%;
  background-color: #0e5d9ab3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  input {
      min-width: 200px;
      height: 100%;
      margin-right: 10px;
  }
}